---
import type { CollectionEntry } from "astro:content"
import ProjectPreview from "./ProjectPreveiw.astro"

interface Props {
  projects: CollectionEntry<"project">[]
  lang: string | undefined
}

const { projects, lang } = Astro.props
---

<div class="post-preview__list">
  {projects.map((post) => <ProjectPreview project={post} lang={lang} />)}
</div>
<style>
  .post-preview__list {
    @apply flex flex-col gap-12;
  }
</style>
