---
import type { CollectionEntry } from "astro:content"
import ProjectPreview from "./ProjectPreveiw.astro"

interface Props {
  projects: CollectionEntry<"project">[]
}

const { projects } = Astro.props
---

<section class="post-preview__list">
  {projects.map((post) => <ProjectPreview project={post} />)}
</section>
<style>
  .post-preview__list {
    @apply flex flex-col gap-12;
  }
</style>
