---
import { getCollection } from "astro:content"
import DefaultPageLayout from "$/layouts/default.astro"
import { collectTags, tagToSlug } from "$/utils/tag"
import type { GetStaticPaths } from "astro"
import { groupByLang } from "$/utils/i18n/collection"

export const getStaticPaths: GetStaticPaths = async () => {
  const projects = await getCollection("project")
  const projectsByLang = groupByLang<"project">(projects)
  return [...projectsByLang].flatMap(([lang, projects]) => {
    const tags = collectTags(projects)
    const paths = { params: { lang }, props: { tags } }
    return lang === "ja" ? [paths, { ...paths, params: { ...paths.params, lang: undefined } }] : paths
  })
}

interface Props {
  tags: string[]
}

let title = "Skill Tags"
let description = "技術ごとの作品一覧"

const { tags } = Astro.props

const ogimage = "/og-image/tags.png"
---

<DefaultPageLayout content={{ title, description, ogimage }}>
  <ul class="tag-list">
    {
      tags.map((tag) => (
        <li>
          <a class="tag" href={`/tomixyz-biography/tags/${tagToSlug(tag)}`} title={`View posts tagged under "${tag}"`}>
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</DefaultPageLayout>

<style>
  .tag-list {
    @apply list-none flex gap-2 flex-wrap;
  }
  .tag {
    @apply shadow-md dark:shadow-white dark:shadow-sm inline-block text-xl px-4 py-1 rounded-full text-theme-secondary dark:text-theme-dark-primary hover:bg-white dark:hover:bg-opacity-5 dark:hover:shadow-none;
  }
</style>
