---
import { getCollection } from "astro:content"
import DefaultPageLayout from "$/layouts/default.astro"
import { collectTags, tagToSlug } from "$/utils/tag"
import type { GetStaticPaths } from "astro"
import { groupByLang } from "$/utils/i18n/collection"
import { buildPageUrlFor } from "$/utils/i18n/slug"
import { SITE } from "$/config"
import TagLink from "$components/tag/TagLink.astro"

export const getStaticPaths: GetStaticPaths = async () => {
  const projects = await getCollection("project")
  const projectsByLang = groupByLang<"project">(projects)

  const tutorials = await getCollection("tutorial")
  const tutorialsByLang = groupByLang<"tutorial">(tutorials)

  const tags = SITE.langs.reduce<{ [lang: string]: string[] }>((acc, lang) => {
    const projects = projectsByLang.get(lang) ?? []
    const tutorials = tutorialsByLang.get(lang) ?? []
    return {
      ...acc,
      [lang]: collectTags(projects, tutorials).sort((a, b) => a.localeCompare(b))
    }
  }, {})

  return SITE.langs.flatMap((lang) => {
    const paths = { params: { lang }, props: { tags: tags[lang], lang } }
    return lang === "ja" ? [paths, { ...paths, params: { ...paths.params, lang: undefined } }] : paths
  })
}

interface Props {
  tags: string[]
  lang: string
}

let title = "Skill Tags"
let i18nDescription = { ja: "技術ごとの作品や記事一覧", en: "Links to a list of works and articles by technology used" }

const { tags, lang } = Astro.props

const ogimage = `/og-image/${lang}/tags.png`
const description = i18nDescription[lang]

const buildPageUrl = buildPageUrlFor("tags")
const pageUrlFromTagName = (tagName: string) => buildPageUrl(tagToSlug(tagName), lang)
---

<DefaultPageLayout content={{ title, description, ogimage }} lang={lang}>
  <ul class="list-none flex gap-3 flex-wrap">
    {
      tags.map((tag) => (
        <li>
          <TagLink href={pageUrlFromTagName(tag)}>{tag}</TagLink>
        </li>
      ))
    }
  </ul>
</DefaultPageLayout>
