---
import type { MarkdownHeading } from "astro"
import type { content } from "tailwind.config.cjs"

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

{
  headings.length > 0 && (
    <nav class="_toc flex flex-col gap-6 items-start p-8 sm:mx-6 text-slate-600 dark:text-slate-100">
      <h2 class="text-xl uppercase text-slate-500 dark:text-slate-200">Contents</h2>
      <ul class="flex flex-col gap-2 w-fit">
        {headings.map((heading) => (
          <li>
            <a href={`#${heading.slug}`} class="flex gap-4" class:list={[`_depth-${heading.depth}`]}>
              {heading.text}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )
}

<style>
  ._toc {
    backdrop-filter: saturate(200%);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }

  :global(.dark) ._toc {
    background-color: rgba(255, 255, 255, 0.3);
  }

  ._depth-2::before {
    content: "##";
  }
  ._depth-3::before {
    content: "###";
  }
</style>
