---
import { getCollection, type CollectionEntry } from "astro:content"
import BookPreview from "./BookPreview.astro"

interface Props {
  books: CollectionEntry<"book">[]
  lang?: string
}

const { books, lang } = Astro.props

const tocs = (await getCollection("book_toc")).reduce((acc, toc) => {
  acc.set(toc.id, toc)
  return acc
}, new Map<string, CollectionEntry<"book_toc">>())

const bookId = (slug: string) => slug.split("/").at(-1)!
---

<div class='flex flex-col gap-12'>
  {books.map((book) => <BookPreview book={book} lang={lang} toc={tocs.get(bookId(book.slug))} />)}
</div>
