---
import PublishMonth from "$components/article-link/PublishMonth.astro"

const { post } = Astro.props
---

<div class="post-preview">
  <div class="sm:w-20 md:w-32">
    <PublishMonth date={post.date} />
  </div>
  <div class="flex-1 flex flex-col justify-center">
    <h2 class="post-preview__title dark:text-theme-dark-primary">
      <a href={post.url}>{post.title}</a>
    </h2>
    {post.media && <p class="post-preview__desc">{post.media}</p>}
  </div>
</div>
<style>
  .post-preview {
    @apply flex gap-6;
  }
  .post-preview__title {
    @apply text-xl font-semibold text-theme-primary dark:text-theme-dark-primary /* this doesn't works here */ hover:underline mb-2;
  }
  .post-preview__desc {
    @apply text-base leading-6 line-clamp-2 dark:text-white hyphens-auto;
  }
</style>
