---
import MediaPreview from "./WritingPreview.astro"
const { posts } = Astro.props
---

<div class="media-preview__list not-prose">
  {posts.map((post) => <MediaPreview post={post} />)}
</div>
<style>
  .media-preview__list {
    @apply flex flex-col gap-12;
  }
</style>
