---
import type { CollectionEntry } from "astro:content"
import PostPreview from "./TutorialPreview.astro"

interface Props {
  tutorials: CollectionEntry<"tutorial">[]
  lang?: string
}

const { tutorials, lang } = Astro.props
---

<div class="post-preview__list">
  {tutorials.map((post) => <PostPreview post={post} lang={lang} />)}
</div>
<style>
  .post-preview__list {
    @apply flex flex-col gap-12;
  }
</style>
