@tailwind base;
/* https://github.com/tailwindlabs/tailwindcss/discussions/2917 */
@layer base {
  html {
    &.dark {
      @apply text-gray-200;
      header,
      footer {
        @apply text-gray-400 border-gray-700;
      }
    }
  }
  :where(:lang(en) p) {
    font-size: 1.2rem;
  }
  @font-face {
    font-family: "TsukuBRdGothic";
    src: url("/tomixyz-biography/fonts/AppleTsukuARdGothic-Regular-AlphaNum-01.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "TsukuBRdGothic";
    src: url("/tomixyz-biography/fonts/AppleTsukuBRdGothic-Bold-AlphaNum-02.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: "Ysabeau Office", "TsukuBRdGothic";
  }
}
@tailwind components;
@tailwind utilities;
