:root {
  /** Set the maximum width of the link preview. */
  --link-preview-width: 30em;
  /** Set the inline padding of the card text. */
  --link-preview-padding-inline: 1em;
  /** Set the vertical padding around the card text. */
  --link-preview-padding-block: 1em;
  /** Round the corners of the link preview card. */
  --link-preview-corners: 0.5em;
  /** Set the maximum number of lines in the description to display. */
  --link-preview-description-lines: 3;
}

.link-preview {
  background-color: rgba(255, 255, 255, 0.6);
}
