/* switch between light/dark theme */

pre[data-theme*=" "],
code[data-theme*=" "] {
  background-color: var(--shiki-light-bg);
}

code[data-theme*=" "] span {
  color: var(--shiki-light);
}

html.dark :is(pre[data-theme*=" "], code[data-theme*=" "]) {
  background-color: var(--shiki-dark-bg);
}

html.dark code[data-theme*=" "] span {
  color: var(--shiki-dark);
}

/* layout */

[data-rehype-pretty-code-figure] {
  margin-block: 1.7em;

  /** for title */
  display: flex;
  flex-direction: column;
}

[data-rehype-pretty-code-figure] > pre {
  padding-block: 0.8em;
  padding-inline: 0;
  margin: 0;
  overflow-x: auto;
  border-radius: 0.3em;
  line-height: 1.7;
}

pre > code > [data-line] {
  padding-inline-start: 0.5em;
  padding-inline-end: 1em;
}

/** line highlight */

pre > code > [data-line] {
  border-inline-start: 0.5em solid transparent;
}

pre > code > [data-highlighted-line] {
  background-color: rgb(206 253 255 / 45%);
  border-color: #f6c6ea;
}
html.dark pre > code > [data-highlighted-line] {
  background-color: rgb(74, 76, 94);
  border-color: #b2a4ff;
}

pre > code:has([data-highlighted-line]) > :not([data-highlighted-line]) {
  opacity: 0.8;
}

/** show line numbers */

pre > code > [data-line]::before {
  content: "";
  display: inline-block;
  width: 1ch;
  text-align: right;
}
pre > code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2ch;
}
pre > code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3ch;
}

pre > code[data-line-numbers] {
  counter-reset: line;
}
pre > code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  margin-inline-end: 1em;
  color: #7ca2dfad;
}

/** title */

div[data-rehype-pretty-code-title] + pre {
  border-top-left-radius: 0;
}

[data-rehype-pretty-code-title] {
  --pretty-light-title-border: #6e85b7;
  --pretty-dark-title-border: #94b3fd;

  --_pretty-title-border: var(--pretty-light-title-border);

  width: fit-content;

  padding-block: 0.3em;
  padding-inline: 0.7em;

  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;

  border-width: 1px;
  border-style: solid;
  border-color: var(--_pretty-title-border);

  position: relative;
  left: -6px;

  color: var(--_pretty-title-border);
  font-weight: bold;
  font-size: clamp(0.6rem, 2.9vw, 0.875rem);
}
[data-rehype-pretty-code-title]::before {
  position: absolute;
  top: calc(100% + 1px);
  left: -1px;
  content: "";
  border: 3px solid transparent;
  border-top: 3px solid var(--_pretty-title-border);
  border-right: 3px solid var(--_pretty-title-border);
}
html.dark [data-rehype-pretty-code-title] {
  --_pretty-title-border: var(--pretty-dark-title-border);
}

/** error */

pre > code .highlighted.error {
  background-color: rgba(244, 63, 94, 0.14);
  position: relative;
}
pre > code .highlighted.error::after {
  content: "[ERROR]";
  color: #f43f5e;
  font-weight: bold;
  position: absolute;
  inset: 0;
  text-align: end;
  padding-inline-end: 0.5em;
}
pre > code .highlighted.error:has(+ .highlighted.error)::after {
  content: "";
}

/** color preview */

:has(> [data-color-preview]) {
  margin-inline-start: 2px;
  position: relative;
}
[data-color-preview] {
  --preview-box-size: 0.8em;

  display: inline-block;
  width: var(--preview-box-size);
  height: var(--preview-box-size);
  margin-inline-end: 3.5px;
  vertical-align: middle;
  position: relative;

  /** light/dark両対応するための二重ボーダー */
  box-shadow:
    0 0 0 1px white,
    0 0 0 2px #374259;

  /* 市松模様 */
  --checker-color: #64748b;
  background-image: linear-gradient(
      45deg,
      var(--checker-color) 25%,
      transparent 25%,
      transparent 75%,
      var(--checker-color) 75%
    ),
    linear-gradient(45deg, var(--checker-color) 25%, transparent 25%, transparent 75%, var(--checker-color) 75%);
  background-position:
    0 0,
    calc(var(--preview-box-size) * 0.5) calc(var(--preview-box-size) * 0.5);
}
[data-color-preview]::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: var(--preview-box-size);
  height: var(--preview-box-size);
  inset: 0;

  background-color: inherit;
}
