/* switch between light/dark theme */

html:not(.dark) [data-rehype-pretty-code-fragment] [data-theme="dark"] {
  display: none;
}

html.dark [data-rehype-pretty-code-fragment] [data-theme="light"] {
  display: none;
}

/* background color */

:root {
  --pretty-light-bg: #fafafa;
  --pretty-dark-bg: #212121;
}

[data-rehype-pretty-code-fragment] > pre[data-theme="light"] {
  background-color: var(--pretty-light-bg);
}
[data-rehype-pretty-code-fragment] > pre[data-theme="dark"] {
  background-color: var(--pretty-dark-bg);
}

/* layout */

div[data-rehype-pretty-code-fragment] {
  margin-block: 1.7em;

  /** for title */
  display: flex;
  flex-direction: column;
}

div[data-rehype-pretty-code-fragment] > pre {
  padding-block: 0.8em;
  padding-inline: 0;
  margin: 0;
  overflow-x: auto;
  border-radius: 0.3em;
  line-height: 1.7;
}

pre > code > [data-line] {
  padding-inline-start: 0.5em;
  padding-inline-end: 1em;
}

/** line highlight */

pre > code > [data-line] {
  border-inline-start: 0.5em solid transparent;
}

pre > code[data-theme="light"] > [data-highlighted-line] {
  background-color: rgb(206 253 255 / 45%);
  border-color: #f6c6ea;
}
pre > code[data-theme="dark"] > [data-highlighted-line] {
  background-color: rgb(74, 76, 94);
  border-color: #b2a4ff;
}

pre > code:has([data-highlighted-line]) > :not([data-highlighted-line]) {
  opacity: 0.8;
}

/** show line numbers */

pre > code > [data-line]::before {
  content: "";
  display: inline-block;
  width: 1ch;
  text-align: right;
}
pre > code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2ch;
}
pre > code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3ch;
}

pre > code[data-line-numbers] {
  counter-reset: line;
}
pre > code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  margin-inline-end: 1em;
  color: #7ca2dfad;
}

/** title */

div[data-rehype-pretty-code-title] + pre {
  border-top-left-radius: 0;
}

[data-rehype-pretty-code-title] {
  width: fit-content;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0 0.7em;
}
[data-rehype-pretty-code-title][data-theme="dark"] {
  background-color: var(--pretty-dark-bg);
  color: #9abcf3ec;
}
[data-rehype-pretty-code-title][data-theme="light"] {
  background-color: var(--pretty-light-bg);
  color: var(--pretty-dark-bg);
}

/** color preview */

:has(> [data-color-preview]) {
  margin-inline-start: 2px;
  position: relative;
}
[data-color-preview] {
  --preview-box-size: 0.8em;

  display: inline-block;
  width: var(--preview-box-size);
  height: var(--preview-box-size);
  margin-inline-end: 3.5px;
  vertical-align: middle;
  position: relative;

  /** light/dark両対応するための二重ボーダー */
  box-shadow:
    0 0 0 1px white,
    0 0 0 2px #374259;

  /* 市松模様 */
  --checker-color: #64748b;
  background-image: linear-gradient(
      45deg,
      var(--checker-color) 25%,
      transparent 25%,
      transparent 75%,
      var(--checker-color) 75%
    ),
    linear-gradient(45deg, var(--checker-color) 25%, transparent 25%, transparent 75%, var(--checker-color) 75%);
  background-position:
    0 0,
    calc(var(--preview-box-size) * 0.5) calc(var(--preview-box-size) * 0.5);
}
[data-color-preview]::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: var(--preview-box-size);
  height: var(--preview-box-size);
  inset: 0;

  background-color: inherit;
}
