---
import ModeLabel from "./ModeLabel.svelte"
---

<footer class="footer">
  <nav class="nav">
    <div>
      &copy; 2023 tomixy
      <ModeLabel client:load /> theme on <a href="https://astro.build/">Astro</a>
    </div>
  </nav>
</footer>
<style>
  .footer {
    @apply py-6 border-t;
  }
</style>
