---
import BaseLayout from "./BaseLayout.astro"
import Header from "./Header.astro"
import Footer from "./Footer.astro"
import Nav from "./Nav.astro"
import Portal from "./Portal.astro"
import SearchModal from "./SearchModal.svelte"
---

<BaseLayout>
  <br class="my-4" />
  <Header />
  <Nav />
  <div class="content">
    <slot />
  </div>
  <br class="my-4" />
  <Footer />
  <!-- <Portal>
    <SearchModal client:load />
  </Portal> -->
</BaseLayout>

<style>
  .content {
    position: relative;
  }

  .content::before {
    --filter: blur(60px) opacity(0.5);

    --bg-gradient: radial-gradient(
        105.68% 45.69% at 92.95% 50%,
        rgba(105, 244, 253, 0.5) 0%,
        rgba(160, 255, 244, 0.095) 53.91%,
        rgba(254, 216, 255, 0) 100%
      ),
      radial-gradient(103.18% 103.18% at 90.11% 102.39%, #c9fff2 0%, rgba(230, 255, 250, 0) 100%),
      radial-gradient(90.45% 90.45% at 87.84% 9.55%, #ffd2f5 0%, rgba(254, 219, 246, 0) 100%),
      linear-gradient(135.66deg, rgba(203, 185, 255, 0.8) 14.89%, rgba(216, 202, 254, 0) 74.33%);

    content: "";
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;

    background-color: #ffffff;
    background-image: var(--bg-gradient);
    background-repeat: no-repeat;
    filter: var(--filter);

    z-index: -1;
  }

  html.dark .content::before {
    --filter: blur(50px) opacity(0.4);

    --bg-gradient: linear-gradient(197.37deg, #7450db -0.38%, rgba(138, 234, 240, 0) 101.89%),
      linear-gradient(115.93deg, #3e88f6 4.86%, rgba(62, 180, 246, 0.33) 38.05%, rgba(62, 235, 246, 0) 74.14%),
      radial-gradient(
        56.47% 76.87% at 6.92% 7.55%,
        rgba(62, 136, 246, 0.7) 0%,
        rgba(62, 158, 246, 0.182) 52.16%,
        rgba(62, 246, 246, 0) 100%
      ),
      linear-gradient(306.53deg, #2ee4e3 19.83%, rgba(46, 228, 227, 0) 97.33%);
  }
</style>
