---
import { toTitleCase } from "$/utils"
import { NAV_ITEMS, SITE } from "$/config"
import { getLangSlug, root, splitPath } from "$/utils/i18n/slug"

const navItems = Object.keys(NAV_ITEMS).map((navItemKey) => {
  const { path, ...navItem } = NAV_ITEMS[navItemKey]
  const navSlugs = splitPath(path)
  const currSlugs = splitPath(Astro.url.pathname)
  const lang = getLangSlug(currSlugs)
  const pathname = lang ? `/${[lang, ...navSlugs].join("/")}` : path
  return {
    ...navItem,
    path: SITE.base + pathname,
    isCurrent: root(navSlugs) === root(currSlugs)
  }
})
---

<nav class="nav py-3">
  <ul class="nav-list dark:text-theme-dark-secondary">
    {
      navItems.map((item) => (
        <li>
          <a
            class:list={[`pb-1`, { "border-b-2 border-theme-primary": item.isCurrent }]}
            href={item.path}
            title={item.title}
          >
            {toTitleCase(item.title)}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
<style>
  .nav-list {
    @apply inline-flex list-none gap-8 text-xl font-semibold text-theme-secondary dark:text-theme-dark-secondary py-2 flex-wrap mb-8;
  }
</style>
