---
import OverflowFadeText from "$/components/text/OverflowFadeText.svelte"

interface Props {
  title: string
  overflow: "fade" | "wrap"
}

const { title, overflow = "wrap" } = Astro.props

const maxWordLength = Math.max(...title.split(" ").map((word) => word.length))
const isFadable = overflow === "fade" && maxWordLength > 11

const className =
  "leading-tight text-5xl font-extrabold text-center sm:text-left text-theme-primary dark:text-theme-dark-primary"
---

{
  isFadable ? (
    <OverflowFadeText as="h1" text={title} class={className} client:load />
  ) : (
    <h1 class={className}>{title}</h1>
  )
}
