---
interface Props {
  href: string
  title: string
}

const { href, title } = Astro.props

const hue = Math.floor(Math.random() * 360) + "deg"
---

<a
  href={href}
  title={title}
  class="_tag rounded-br-xl rounded-tl-xl inline-block text-md px-2 py-0 text-theme-secondary dark:text-theme-dark-primary"
>
  <slot />
</a>

<style define:vars={{ hue }}>
  ._tag {
    background-image: repeating-linear-gradient(
      225deg,
      rgba(191, 228, 255, 0.1) 24%,
      rgba(234, 239, 242, 0.3) 5%,
      rgba(206, 206, 255, 0.6) 55.07%,
      rgba(223, 209, 249, 0.4) 77%,
      rgba(230, 227, 245, 0.1) 93%,
      rgba(234, 239, 242, 0.1) 100%
    );
    filter: hue-rotate(var(--hue));
  }
</style>
