---
import { tagToSlug } from "$/utils/tag"
import { SITE } from "$/config"

interface Props {
  tags: string[]
}

const { tags } = Astro.props
---

<div class="inline-flex flex-wrap gap-2 justify-center sm:justify-start">
  {
    tags.length > 0 &&
      tags.map((tag) => (
        <a
          class="text-slate-500 dark:text-theme-dark-secondary hover:text-theme-primary dark:hover:text-theme-dark-primary"
          href={`${SITE.base}/tags/${tagToSlug(tag)}`}
          title={tag}
        >
          {tag}
        </a>
      ))
  }
</div>
