---
import { tagToSlug } from "$/utils/tag"
import { SITE } from "$/config"
import TagLink from "$components/tag/TagLink.astro"

interface Props {
  tags: string[]
}

const { tags } = Astro.props
---

<div class="inline-flex flex-wrap gap-x-2 gap-y-3 justify-center sm:justify-start">
  {
    tags.length > 0 &&
      tags.map((tag) => (
        <TagLink href={`${SITE.base}/tags/${tagToSlug(tag)}`} small>
          {tag}
        </TagLink>
      ))
  }
</div>
