---
import type { CollectionEntry } from "astro:content"
import EventPreview from "./EventPreveiw.astro"

interface Props {
  events: CollectionEntry<"event">[]
  lang: string | undefined
}

const { events, lang } = Astro.props
---

<section class="post-preview__list">
  {events.map((post) => <EventPreview event={post} lang={lang} />)}
</section>
<style>
  .post-preview__list {
    @apply flex flex-col gap-12;
  }
</style>
